body {
    font-family: OpenSans, sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1d2124;
    opacity: 1.3;
}

.logo2 li {
    list-style: none;
    color: #ffff;
    display: inline-block;
}

.logo2 a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffff;
    padding: 0 12px;
    vertical-align: sub;
}

.logo1 img {
    background-color: #1a1d20;
    padding: 16px;
}

.logo1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    font-size: 22px;
}

.logo1 span {
    margin-left: 8px;
}

.search {
    color: #ffff;
    background-color: #1a1d20;
    text-align: center;
    font-size: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
}

.search i {
    margin: auto;
}

.search:hover {
    font-size: 25px;
    background-color: #1d2124;
}

.news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./imge/home6.1.jpeg");
    height: 375px;
}

.paralax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.font {
    font-size: 18px;
    border-radius: 6px;
    color: #ffff;
    cursor: pointer;
    width: 172px;
    height: 58px;
}

.text {
    font-size: 27px;
    text-transform: uppercase;
    color: #ffff;
}

.btn1 {
    background-color: #89ca62;
    margin: 43px 10px;
}

.btn2 {
    background-color: #14b9d5;
    margin: 43px 10px;
}

.holder {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.pictures {
    display: flex;
    flex-direction: column;
}

.pictures2 {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.pictures3 {
    display: flex;
    flex-direction: column;
}

.headline {
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    color: #18b4cf;
    padding: 60px 0;
    background-color: #f2f2f2;
}

.headline1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    color: #18b4cf;
    padding: 60px 0;
}

.pictures_box {
    margin-bottom: 30px;
}

.pictures_box span {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background-color: #ffff;
}

.foto {
    background-image: url("./imge/home6.2.jpeg");
    background-size: cover;
    height: 590px;
    background-position: bottom;
}

.title {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 200px 0 60px 0;
}

.linich {
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    margin-bottom: 60px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.desc {
    background-image: url("imge/spritesheet.png");
    display: inline-block;
    width: 230px;
    height: 51px;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
}

.title3 {
    background-position: 10px 0;
}

.title4 {
    background-position: 55px -56px;
}

.title5 {
    background-position: 15px 125px;
}

.title6 {
    background-position: -6px 61px;
}

.size img {
    width: 100%;
    height: auto;
}

.postBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 14%;
}

.gridBox {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 62px;
}

.caption {
    font-size: 18px;
    color: #353a3d;
    text-align: center;
    padding: 12px;
    font-weight: bold;
}

.caption2 {
    padding: 12px 54px;
}

.captionText {
    text-align: right;
    display: inline-block;
    background-color: #f9f7f7;
    font-size: 14px;
}

.gridBox2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 62px;
}

.gridBox2 .item {
    justify-self: end;
}

.container {
    width: 1170px;
    margin: auto;
}

.gridBox3 {
    margin-top: 62px;
}

.ftr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    text-align: center;
    background-color: #1d2124;
    padding: 24px;
    font-size: 13px;
    color: #ffff;
}

.logo3 {
    text-transform: uppercase;
    color: #ffff;
}
